<app-select-joke-params  [jokeTypes]="jokeTypes" (showJokeEvent)="showJoke($event)">
    <h3>Joke Type</h3>
</app-select-joke-params>
<div>
<input type="text" [(ngModel)]="newCategory">
<button (click)="addCategories()">Add Category</button>
</div>
<ng-container>
    <h5>Created By</h5>
    <label for="all">All</label>
    <input id="all" name="createdBy" [(ngModel)]="createdBy" type="radio" value="all"/>
    <label for="user">User</label>
    <input id="user" name="createdBy" [(ngModel)]="createdBy" type="radio" value="user"/>
    <label for="api">API</label>
    <input id="api" name="createdBy" [(ngModel)]="createdBy"  type="radio" value="api"/>
</ng-container>


@if(jokes().length>0){
    <button (click)="checkIfJokeIsFlagged()">Check Flagged jokes</button>
    @for(joke of jokes() | filterJokes : createdBy();track $index){
        <ng-container>
            <h2 [innerHtml]="joke?.setup"></h2>
            <span appMarkCustomJoke [userCreated]="joke?.flags?.userCreated"></span>
            <span appMarkCustomJoke [political]="joke?.flags?.political"></span>
            <p>{{joke?.delivery}}</p>
        </ng-container>
    }
}